# Ignore node_modules (will be installed in the container)
node_modules

# Ignore local environment files
.env.local
.env.development
.env.test

# Ignore log files
*.log

# Ignore build artifacts
.next
out

# Ignore editor files and configurations
.vscode
.idea

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Docker-related files
Dockerfile
docker-compose.yml
